



@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=25cc3d5a-393c-4202-9369-167f35d0e9a8");
@font-face{
font-family:"Prestige Elite W01 Bold";
src:url("Fonts/1c2346f9-683b-4713-9b96-c38e48777504.eot?iefix") format("eot");}
@font-face{
font-family:"Prestige Elite W01 Bold";
src:url("../fonts/1c2346f9-683b-4713-9b96-c38e48777504.eot?iefix");
src:url("../fonts/9345a0f5-95de-43c0-bd16-4197b9214b2e.woff") format("woff"),url("../fonts/2939886e-0f3b-4d1c-9821-2dd037f26246.ttf") format("truetype"),url("../fonts/3f0170c3-6d1c-455e-b968-8aa2c7d17e76.svg#3f0170c3-6d1c-455e-b968-8aa2c7d17e76") format("svg");
}



a {
	color: rgb(127,127,115);
}



body {
	background-color: rgb(221,222,218);
	margin: 0;
	padding: 0;
}
header {
	display: block;
	margin: 0 auto;
	padding: 0;
}
header .category-nav {
	background-color: rgb(255,255,255);
	display: block;
	line-height: 0;
	padding: 12px 3%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 995;
}


#social-media {
	position: fixed;
	right: 3%;
	top: 0;
	z-index: 999;
}
#social-media a {
	color: rgb(127,127,115);
	display: block;
	font-family: "futura-pt";
	font-size: 0.875em;
	line-height: 42px;
	text-decoration: none;
/* 	text-transform: uppercase; */
}
#sm-popup {
	border: 1px solid rgb(237,236,234);
	background-color: rgb(237,236,234);
	display: none;
	list-style: none;
	padding: 1em;
	position: absolute;
	right: 0;
	top: 26px;
}
#sm-popup:before {
	content: ' ';
	top: -8px;
	left: 50%;
	margin-left: -8px;
	border-bottom: 8px solid rgb(237,236,234);
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	position: absolute;
}
#social-media:hover #sm-popup {
	display: block;
}
#sm-popup li:first-child {
	margin-bottom: 0.5em;
}




header h1 {
	font-family: "futura-pt";
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1em;
	margin: 0;
	padding: 2.8em 3% 0;
}
header h1 a {
	color: rgb(51,51,51);
	color: rgb(127,127,115);
	text-decoration: none;
}
header h2 {
	color: rgb(255,255,255);
	font-family: "futura-pt";
	font-size: 2.25em;
	font-weight: 700;
	line-height: 1.2em;
	margin: -0.1em 3% 0;
	overflow: hidden;
	padding: 0 0 1.2em;
}
header h2 .category-wrapper {
	display: block;
	overflow: hidden;
	width: 200%;
}
header h2 .category-wrapper span {
	box-sizing: border-box;
	display: block;
	float: left;
/* 	margin: -0.1em 0 0 0; */
	width: 50%;
}
#main {
	list-style: none;
	opacity: 0;
	padding: 0 3%;
	margin: 0 0 2em -10px;
	-webkit-transition: all 0.6s cubic-bezier(.3,.43,.14,1);
	-moz-transition: all 0.6s cubic-bezier(.3,.43,.14,1);
	-o-transition: all 0.6s cubic-bezier(.3,.43,.14,1);
	transition: all 0.6s cubic-bezier(.3,.43,.14,1);
}
#main > li {
	float: left;
	overflow: hidden;
	width: 300px;
}
#main > li a {
	background-color: rgb(255,255,255);
	display: block;
	margin: 10px;
}
#main > li a img {
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#main > li a:hover img {
/* 	opacity: 0.7; */
}
#main img {
	max-width: 100%;
}
#main li .tags {
	background-color: rgb(255,255,255);
	color: rgb(51,51,51);
	max-height: 0;
	overflow: hidden;
	top: 10px;
	left: 10px;
	right: 10px;
	padding: 0 1em;
	position: absolute;
	text-decoration: none;
/* 	opacity: 0; */
	-webkit-transition: all 0.2s ease-in-out;
}
#main li:hover .tags {
	max-height: 150px;
/* 	padding: 1em; */
/* 	opacity: 1; */
}
#main li .tags li:first-child {
	padding-top: 1em;
}
#main li .tags li:last-child {
	padding-bottom: 1em;
}

.tags {
	font-family: 'Prestige Elite W01 Bold', Courier, serif;
	font-size: 0.9375em;
	list-style: none;
	margin: 0;
	padding: 0;
}
#main .tags li a {
	background-image: url('../images/categories-sprite.8.png');
	background-repeat: no-repeat;
	line-height: 18px;
	margin: 0;
	padding: 0 0 0 21px;
	text-decoration: none;
}
#main .tags li a:hover {
	background-position-x: 0;
}


.category-nav a {
	background-image: url('../images/categories-sprite.8.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 18px;
	margin-left: -4px;
	position: relative;
	text-indent: -9999px;
	width: 18px;
}
.category-tooltip {
	bottom: -40px;
	color: rgb(255,255,255);
	font-family: 'Prestige Elite W01 Bold', Courier, serif;
	font-size: 0.875em;
	left: 8px;
	line-height: 1em;
	padding: 0.5em;
	position: absolute;
	text-indent: 0;
}
.category-tooltip:before {
	background-color: transparent;
	border-left: 2px solid;
	content: ' ';
	height: 20px;
	left: 0;
	position: absolute;
	top: -20px;
}



.category-link {
	background-position: 0 -498px;
	color: rgb(127,127,115);
}
a.category-link:hover {
	background-position: 0 -480px;
}

.tag-Typography {
	background-position: 0 -18px;
	color: rgb(0,173,187);
}
.tag-body-Typography .category-nav a.tag-Typography,
a.tag-Typography:hover {
	background-position: 0 0;
}
a.tag-Typography .category-tooltip {
	background-color: rgb(0,173,187);
}
a.tag-Typography .category-tooltip:before {
	border-color: rgb(0,173,187);
}

.tag-Illustration {
	background-position: 0 -378px;
	color: rgb(240,138,45);
}
.tag-body-Illustration .category-nav a.tag-Illustration,
a.tag-Illustration:hover {
	background-position: 0 -360px;
}
a.tag-Illustration .category-tooltip {
	background-color: rgb(240,138,45);
}
a.tag-Illustration .category-tooltip:before {
	border-color: rgb(240,138,45);
}

.tag-Spaces {
	background-position: 0 -98px;
	color: rgb(238,29,65);
}
.tag-body-Spaces .category-nav a.tag-Spaces,
a.tag-Spaces:hover {
	background-position: 0 -80px;
}
a.tag-Spaces .category-tooltip {
	background-color: rgb(238,29,65);
}
a.tag-Spaces .category-tooltip:before {
	border-color: rgb(238,29,65);
}

.tag-Print {
	background-position: 0 -138px;
	color: rgb(96,32,81);
}
.tag-body-Print .category-nav a.tag-Print,
a.tag-Print:hover {
	background-position: 0 -120px;
}
a.tag-Print .category-tooltip {
	background-color: rgb(96,32,81);
}
a.tag-Print .category-tooltip:before {
	border-color: rgb(96,32,81);
}

.tag-Objects {
	background-position: 0 -178px;
	color: rgb(52,160,224);
}
.tag-body-Objects .category-nav a.tag-Objects,
a.tag-Objects:hover {
	background-position: 0 -160px;
}
a.tag-Objects .category-tooltip {
	background-color: rgb(52,160,224);
}
a.tag-Objects .category-tooltip:before {
	border-color: rgb(52,160,224);
}

.tag-Colour {
	background-position: 0 -218px;
	color: rgb(0,181,80);
}
.tag-body-Colour .category-nav a.tag-Colour,
a.tag-Colour:hover {
	background-position: 0 -200px;
}
a.tag-Colour .category-tooltip {
	background-color: rgb(0,181,80);
}
a.tag-Colour .category-tooltip:before {
	border-color: rgb(0,181,80);
}

.tag-Environments {
	background-position: 0 -258px;
	color: rgb(245,160,179);
}
.tag-body-Environments .category-nav a.tag-Environments,
a.tag-Environments:hover {
	background-position: 0 -240px;
}
a.tag-Environments .category-tooltip {
	background-color: rgb(245,160,179);
}
a.tag-Environments .category-tooltip:before {
	border-color: rgb(245,160,179);
}

.tag-Photography {
	background-position: 0 -298px;
	color: rgb(169,51,114);
}
.tag-body-Photography .category-nav a.tag-Photography,
a.tag-Photography:hover {
	background-position: 0 -280px;
}
a.tag-Photography .category-tooltip {
	background-color: rgb(169,51,114);
}
a.tag-Photography .category-tooltip:before {
	border-color: rgb(169,51,114);
}

.tag-Moving {
	background-position: 0 -538px;
	color: rgb(177,137,125);
}
.tag-body-Moving .category-nav a.tag-Moving,
a.tag-Moving:hover {
	background-position: 0 -520px;
}
a.tag-Moving .category-tooltip {
	background-color: rgb(177,137,125);
}
a.tag-Moving .category-tooltip:before {
	border-color: rgb(177,137,125);
}

.tag-Miscellany {
	background-position: 0 -458px;
	color: rgb(0,98,65);
}
.tag-body-Miscellany .category-nav a.tag-Miscellany,
a.tag-Miscellany:hover {
	background-position: 0 -440px;
}
a.tag-Miscellany .category-tooltip {
	background-color: rgb(0,98,65);
}
a.tag-Miscellany .category-tooltip:before {
	border-color: rgb(0,98,65);
}


